<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyshop.mc.shopeasy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.Activity.MainActivity" />
        <activity android:name=".main.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.Activity.LoginActivity" />
        <activity android:name=".main.Activity.RegisterActivity" />
        <activity android:name=".main.Activity.MapActivity" />

        <service
            android:name=".main.Service.BeaconService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".main.Service.LocationService" />

        <activity android:name=".main.Activity.StoreActivity" />
        <activity android:name=".main.Activity.ProductActivity" />
        <activity android:name=".main.Activity.WishListActivity" />
        <activity android:name=".main.Activity.FeedbackActivity"></activity>
    </application>

</manifest>